* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: black;
    color: white;
}


a {
    color: white;
    text-decoration: none;
}
    
a:hover {
    text-decoration: underline;
}


.main {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 1rem;
}

.main::before, 
.main::after {
    content: '';
    background-image: url(/img/degrade.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: fixed;
    width: 60vw;
    height: 15vh;
    top: 0;
    left: 0;
    z-index: -1;
}

.main::after {
    content: '';
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

@media only screen and (max-width: 768px){
    .main {
        max-width: 1024px;
        margin: 1rem auto;
    }

    .main::before, .main::after{
        width: 70vw;
    }
}